<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<p>Likes: <strong><%= @product.likes.count %></strong> </p>

  <% if can? :like, Product %>
    <p>
      <% unless @product.liked_by? current_user %>
        <%= link_to 'Me Gusta', like_product_path(@product) %>
      <% else %>
        <%= link_to 'Ya No Me Gusta', like_product_path(@product) %>
      <% end %>
    </p>
  <% end %>

<h2>Deja tu Review</h2>
<%= form_for [@product, Review.new] do |f| %>
	<%= f.label :content, "Review" %>
	<%= f.text_area :content %>
	<%= f.submit "Enviar" %>
<% end %>r

<h2>Reviews</h2>
<% @reviews.each do |review| %>
	<hr>
	<p><small><%= review.created_at %></small></p>
	<p><%= review.content %></p>
	<hr>
<% end %>
